# Extraindo Dados do Twitter com Python

Uma aplica√ß√£o para monitorar os principais resultados do Twitter e seu devido volume na rede social ao longo do tempo. O objetivo √© saber as principais tend√™ncias e o que est√£o falando sobre o assunto.

+ [Search Tweets](https://developer.twitter.com/en/docs/twitter-api/v1/tweets/search/api-reference/get-search-tweets#)
+ [Buscando tweets com Python](https://www.alura.com.br/artigos/buscando-tweets-com-python)

In [17]:
!pip install geocoder

Requirement already satisfied: geocoder in /usr/local/lib/python3.7/dist-packages (1.38.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from geocoder) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from geocoder) (7.1.2)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from geocoder) (0.16.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: ratelim in /usr/local/lib/python3.7/dist-packages (from geocoder) (0.1.6)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (1.24.3)

## Importando Bibliotecas

In [18]:
import geocoder
import toml
import tweepy
import json
import pandas as pd

## Arquivo com as Chaves de Acesso ao Twitter

In [19]:
# abrir o arquivo com as credenciais de acesso
with open('config.toml') as config:
  # ler o arquivo e salvar as chaves nas vari√°veis
  config = toml.loads(config.read())
  APP_NAME = config['APP_NAME']
  API_KEY = config['API_KEY']
  API_KEY_SECRET = config['API_KEY_SECRET']
  ACCESS_TOKEN = config['ACCESS_TOKEN']
  ACCESS_TOKEN_SECRET = config['ACCESS_TOKEN_SECRET']

In [20]:
APP_NAME

'TwitterAoCubo'

## Autenticando no Twitter

In [21]:
# fun√ß√£o para autentica√ß√£o do usu√°rio
auth = tweepy.OAuthHandler(API_KEY, API_KEY_SECRET)
# fun√ß√£o para acesso ao app com os tokens
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)
# autentica√ß√£o na API do Twitter
api = tweepy.API(auth)

## Top Trends Twitter

In [39]:
# Verificando as localiza√ß√µes dispon√≠veis para o trends
available_loc = api.trends_available()
df = pd.json_normalize(available_loc)
df.head(3)

        name  ... placeType.name
0  Worldwide  ...      Supername
1   Winnipeg  ...           Town
2     Ottawa  ...           Town

[3 rows x 8 columns]

In [30]:
# Filtrando Brasil nas localiza√ß√µes dispon√≠veis
df.query('country == "Brazil"')

               name  ... placeType.name
78         Bras√≠lia  ...           Town
79            Bel√©m  ...           Town
80   Belo Horizonte  ...           Town
81         Curitiba  ...           Town
82     Porto Alegre  ...           Town
83           Recife  ...           Town
84   Rio de Janeiro  ...           Town
85         Salvador  ...           Town
86        S√£o Paulo  ...           Town
87         Campinas  ...           Town
88        Fortaleza  ...           Town
89          Goi√¢nia  ...           Town
90           Manaus  ...           Town
91         S√£o Lu√≠s  ...           Town
92        Guarulhos  ...           Town
409          Brazil  ...        Country

[16 rows x 8 columns]

In [46]:
# Definindo a localiza√ß√£o
loc = geocoder.osm('Brazil')
print(loc)

<[OK] Osm - Geocode [Brasil]>

In [47]:
# Buscando o id da localiza√ß√£o basedado na lat e long
closest_loc = api.trends_closest(loc.lat,loc.lng)
print(json.dumps(closest_loc,indent=1))

[
 {
  "name": "Brazil",
  "placeType": {
   "code": 12,
   "name": "Country"
  },
  "url": "http://where.yahooapis.com/v1/place/23424768",
  "parentid": 1,
  "country": "Brazil",
  "woeid": 23424768,
  "countryCode": "BR"
 }
]

In [48]:
# Montando dataset do Top trends da localiza√ß√£o informada
trends  = api.trends_place(closest_loc[0]["woeid"])

In [49]:
# Verificando os dados das Top trends selecionadas
print('Data:',trends[0]['as_of'])
print('Data Trend:',trends[0]['created_at'])
print('Location:',trends[0]['locations'][0]['name'])

Data: 2021-12-28T12:23:17Z
Data Trend: 2021-12-26T11:40:20Z
Location: Brazil

In [50]:
# Exibindo os Top Trends Brasil
df_trends = pd.json_normalize(trends[0]['trends'])
df_trends.head()

                  name  ... tweet_volume
0                 Cuca  ...      23769.0
1          Jorge Jesus  ...      34505.0
2  #BolsonaroVagabundo  ...          NaN
3             Atl√©tico  ...      39008.0
4          Paulo Sousa  ...      34740.0

[5 rows x 5 columns]

## Extraindo Dados do Twitter

In [37]:
# Realizando uma busca de dados pelo Top Trend
results = api.search(q='Cuca')

# Organizando os dados
users = []
tweets = []
for tweet in results:
  users.append(tweet.user.name)
  tweets.append(tweet.text)
  print(f'User: {tweet.user.name} | Tweet: {tweet.text}')

User: @Verainacio44 | Tweet: RT @Falagalo13: ‚ùå O pedido de demiss√£o do t√©cnico Cuca n√£o surpreendeu a diretoria do @Atletico. A informa√ß√£o que chega, √© que o t√©cnico es‚Ä¶
User: Maria Rebelo | Tweet: Melhor de todos os tempos. S√≥ atr√°s de Tel√™. Obrigada Cuca!!!! https://t.co/dy4ZVdG6OC
User: Gilson Luiz | Tweet: @ArnaldoJRibeiro Ja ta tudo desenhado, Jorge Jesus no Flamengo, Galo sem tecnico vai aproveitar que o Paulo Sousa e‚Ä¶ https://t.co/uXDYvKtWcQ
User: MüÖ∞Ô∏ètheus ‚≠ê‚≠ê | Tweet: RT @jason13cam: üêì Cuca e sua hist√≥ria no GALO

‚öîÔ∏è224 jogos
‚úÖ128 vit√≥rias
‚è∏48 empates
‚ùå48 derrotas
üìä64.2% aproveitamento
üèÜLibertadores
üèÜCa‚Ä¶
User: renus | Tweet: Contei pro meu pai que o Cuca saiu do Galo: https://t.co/cF9RLAFdWK
User: Adauto Freitas | Tweet: @dieg0gal0 @martinsymiguel Abel Ferreira n√£o colocou ele no bolso porra nenhuma. Voc√™ n√£o viu o jogo. So viu o resu‚Ä¶ https://t.co/8Y29Cks0we
User: Rodrigo Gon√ßalves | Tweet: O cuca n√£o bate bem da cuca msm ü§¶üèª‚Äç‚ôÇÔ∏è
User: Kaua | Tweet: RT @thirfernandes: Cuca decide deixar Atl√©tico-MG para tirar ano sab√°tico; Jorge Jesus vira op√ß√£o

Sa√≠da do t√©cnico j√° era conhecimento do‚Ä¶
User: Freddie·∂ú ≥·∂† üá¶üá±üáßüá∑ | Tweet: Maluco, hoje √© dia 28 de dezembro e a torcida t√° maluca. N√£o h√° torcida mais lel√© da cuca igual a nossa.
User: ùô∂ùöïùöäùöûùöåùöíùöò ùôºùöéùöõùöïùöíùöó | Tweet: RT @CosenzaGiuliano: Jorge Jesus no Flamengo
Paulo Sousa no Atl√©tico
Renato Ga√∫cho no Benfica
Cuca na Pol√¥nia

Problema resolvido
User: Chumiga | Tweet: essa do cuca foi de fude
User: FORA @marcosbrazrio | Tweet: @ThalesMuniz4 @_FlaDaDepressao N√£o me surpreenderia ele ter feito esse esfor√ßo S√ì ap√≥s o Flamengo fechar com PS.
JJ‚Ä¶ https://t.co/xISF6MD8WM
User: Tribuna do Sert√£o | Tweet: Cuca deixa o comando do Atl√©tico-MG por 'problemas familiares', diz r√°dio. Veja mais em:  - https://t.co/MbBbyMuLJI
User: üíÄGALO‚ö°METALüíÄ | Tweet: @ohenriqueandre @Atletico Os que est√£o achando ruim com o Cuca foram os mesmos que n√£o queriam que viesse.
User: biel‚≠ê‚≠ê | Tweet: RT @jason13cam: üêì Cuca e sua hist√≥ria no GALO

‚öîÔ∏è224 jogos
‚úÖ128 vit√≥rias
‚è∏48 empates
‚ùå48 derrotas
üìä64.2% aproveitamento
üèÜLibertadores
üèÜCa‚Ä¶

In [38]:
# Montando um dataset com os tweets extraidos do Twitter
df_tweets = pd.DataFrame()
df_tweets['users'] = users
df_tweets['tweets'] = tweets
df_tweets.head()

           users                                             tweets
0  @Verainacio44  RT @Falagalo13: ‚ùå O pedido de demiss√£o do t√©cn...
1   Maria Rebelo  Melhor de todos os tempos. S√≥ atr√°s de Tel√™. O...
2    Gilson Luiz  @ArnaldoJRibeiro Ja ta tudo desenhado, Jorge J...
3    MüÖ∞Ô∏ètheus ‚≠ê‚≠ê  RT @jason13cam: üêì Cuca e sua hist√≥ria no GALO\...
4          renus  Contei pro meu pai que o Cuca saiu do Galo: ht...