# Extraindo Dados do Twitter com Python

Uma aplicação para monitorar os principais resultados do Twitter e seu devido volume na rede social ao longo do tempo. O objetivo é saber as principais tendências e o que estão falando sobre o assunto.

+ [Search Tweets](https://developer.twitter.com/en/docs/twitter-api/v1/tweets/search/api-reference/get-search-tweets#)
+ [Buscando tweets com Python](https://www.alura.com.br/artigos/buscando-tweets-com-python)

In [17]:
!pip install geocoder

Requirement already satisfied: geocoder in /usr/local/lib/python3.7/dist-packages (1.38.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from geocoder) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from geocoder) (7.1.2)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from geocoder) (0.16.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: ratelim in /usr/local/lib/python3.7/dist-packages (from geocoder) (0.1.6)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (1.24.3)

## Importando Bibliotecas

In [18]:
import geocoder
import toml
import tweepy
import json
import pandas as pd

## Arquivo com as Chaves de Acesso ao Twitter

In [19]:
# abrir o arquivo com as credenciais de acesso
with open('config.toml') as config:
  # ler o arquivo e salvar as chaves nas variáveis
  config = toml.loads(config.read())
  APP_NAME = config['APP_NAME']
  API_KEY = config['API_KEY']
  API_KEY_SECRET = config['API_KEY_SECRET']
  ACCESS_TOKEN = config['ACCESS_TOKEN']
  ACCESS_TOKEN_SECRET = config['ACCESS_TOKEN_SECRET']

In [20]:
APP_NAME

'TwitterAoCubo'

## Autenticando no Twitter

In [21]:
# função para autenticação do usuário
auth = tweepy.OAuthHandler(API_KEY, API_KEY_SECRET)
# função para acesso ao app com os tokens
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)
# autenticação na API do Twitter
api = tweepy.API(auth)

## Top Trends Twitter

In [39]:
# Verificando as localizações disponíveis para o trends
available_loc = api.trends_available()
df = pd.json_normalize(available_loc)
df.head(3)

        name  ... placeType.name
0  Worldwide  ...      Supername
1   Winnipeg  ...           Town
2     Ottawa  ...           Town

[3 rows x 8 columns]

In [30]:
# Filtrando Brasil nas localizações disponíveis
df.query('country == "Brazil"')

               name  ... placeType.name
78         Brasília  ...           Town
79            Belém  ...           Town
80   Belo Horizonte  ...           Town
81         Curitiba  ...           Town
82     Porto Alegre  ...           Town
83           Recife  ...           Town
84   Rio de Janeiro  ...           Town
85         Salvador  ...           Town
86        São Paulo  ...           Town
87         Campinas  ...           Town
88        Fortaleza  ...           Town
89          Goiânia  ...           Town
90           Manaus  ...           Town
91         São Luís  ...           Town
92        Guarulhos  ...           Town
409          Brazil  ...        Country

[16 rows x 8 columns]

In [46]:
# Definindo a localização
loc = geocoder.osm('Brazil')
print(loc)

<[OK] Osm - Geocode [Brasil]>

In [47]:
# Buscando o id da localização basedado na lat e long
closest_loc = api.trends_closest(loc.lat,loc.lng)
print(json.dumps(closest_loc,indent=1))

[
 {
  "name": "Brazil",
  "placeType": {
   "code": 12,
   "name": "Country"
  },
  "url": "http://where.yahooapis.com/v1/place/23424768",
  "parentid": 1,
  "country": "Brazil",
  "woeid": 23424768,
  "countryCode": "BR"
 }
]

In [48]:
# Montando dataset do Top trends da localização informada
trends  = api.trends_place(closest_loc[0]["woeid"])

In [49]:
# Verificando os dados das Top trends selecionadas
print('Data:',trends[0]['as_of'])
print('Data Trend:',trends[0]['created_at'])
print('Location:',trends[0]['locations'][0]['name'])

Data: 2021-12-28T12:23:17Z
Data Trend: 2021-12-26T11:40:20Z
Location: Brazil

In [50]:
# Exibindo os Top Trends Brasil
df_trends = pd.json_normalize(trends[0]['trends'])
df_trends.head()

                  name  ... tweet_volume
0                 Cuca  ...      23769.0
1          Jorge Jesus  ...      34505.0
2  #BolsonaroVagabundo  ...          NaN
3             Atlético  ...      39008.0
4          Paulo Sousa  ...      34740.0

[5 rows x 5 columns]

## Extraindo Dados do Twitter

In [37]:
# Realizando uma busca de dados pelo Top Trend
results = api.search(q='Cuca')

# Organizando os dados
users = []
tweets = []
for tweet in results:
  users.append(tweet.user.name)
  tweets.append(tweet.text)
  print(f'User: {tweet.user.name} | Tweet: {tweet.text}')

User: @Verainacio44 | Tweet: RT @Falagalo13: ❌ O pedido de demissão do técnico Cuca não surpreendeu a diretoria do @Atletico. A informação que chega, é que o técnico es…
User: Maria Rebelo | Tweet: Melhor de todos os tempos. Só atrás de Telê. Obrigada Cuca!!!! https://t.co/dy4ZVdG6OC
User: Gilson Luiz | Tweet: @ArnaldoJRibeiro Ja ta tudo desenhado, Jorge Jesus no Flamengo, Galo sem tecnico vai aproveitar que o Paulo Sousa e… https://t.co/uXDYvKtWcQ
User: M🅰️theus ⭐⭐ | Tweet: RT @jason13cam: 🐓 Cuca e sua história no GALO

⚔️224 jogos
✅128 vitórias
⏸48 empates
❌48 derrotas
📊64.2% aproveitamento
🏆Libertadores
🏆Ca…
User: renus | Tweet: Contei pro meu pai que o Cuca saiu do Galo: https://t.co/cF9RLAFdWK
User: Adauto Freitas | Tweet: @dieg0gal0 @martinsymiguel Abel Ferreira não colocou ele no bolso porra nenhuma. Você não viu o jogo. So viu o resu… https://t.co/8Y29Cks0we
User: Rodrigo Gonçalves | Tweet: O cuca não bate bem da cuca msm 🤦🏻‍♂️
User: Kaua | Tweet: RT @thirfernandes: Cuca decide deixar Atlético-MG para tirar ano sabático; Jorge Jesus vira opção

Saída do técnico já era conhecimento do…
User: Freddieᶜʳᶠ 🇦🇱🇧🇷 | Tweet: Maluco, hoje é dia 28 de dezembro e a torcida tá maluca. Não há torcida mais lelé da cuca igual a nossa.
User: 𝙶𝚕𝚊𝚞𝚌𝚒𝚘 𝙼𝚎𝚛𝚕𝚒𝚗 | Tweet: RT @CosenzaGiuliano: Jorge Jesus no Flamengo
Paulo Sousa no Atlético
Renato Gaúcho no Benfica
Cuca na Polônia

Problema resolvido
User: Chumiga | Tweet: essa do cuca foi de fude
User: FORA @marcosbrazrio | Tweet: @ThalesMuniz4 @_FlaDaDepressao Não me surpreenderia ele ter feito esse esforço SÓ após o Flamengo fechar com PS.
JJ… https://t.co/xISF6MD8WM
User: Tribuna do Sertão | Tweet: Cuca deixa o comando do Atlético-MG por 'problemas familiares', diz rádio. Veja mais em:  - https://t.co/MbBbyMuLJI
User: 💀GALO⚡METAL💀 | Tweet: @ohenriqueandre @Atletico Os que estão achando ruim com o Cuca foram os mesmos que não queriam que viesse.
User: biel⭐⭐ | Tweet: RT @jason13cam: 🐓 Cuca e sua história no GALO

⚔️224 jogos
✅128 vitórias
⏸48 empates
❌48 derrotas
📊64.2% aproveitamento
🏆Libertadores
🏆Ca…

In [38]:
# Montando um dataset com os tweets extraidos do Twitter
df_tweets = pd.DataFrame()
df_tweets['users'] = users
df_tweets['tweets'] = tweets
df_tweets.head()

           users                                             tweets
0  @Verainacio44  RT @Falagalo13: ❌ O pedido de demissão do técn...
1   Maria Rebelo  Melhor de todos os tempos. Só atrás de Telê. O...
2    Gilson Luiz  @ArnaldoJRibeiro Ja ta tudo desenhado, Jorge J...
3    M🅰️theus ⭐⭐  RT @jason13cam: 🐓 Cuca e sua história no GALO\...
4          renus  Contei pro meu pai que o Cuca saiu do Galo: ht...